<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kunda | Projets</title>
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='slc-assets/img/logo/logoSLCjaune.jpg')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.min.css')}}" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex text-center align-items-center justify-content-between">
                    <a href="/" class="text-nowrap logo-img">
                        <h1>KUNDA</h1>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Départements</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/trading" aria-expanded="false">
                                <span>
                                    <i class="ti ti-truck-delivery"></i>
                                </span>
                                <span class="hide-menu">Trading</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/academy" aria-expanded="false">
                                <span>
                                    <i class="ti ti-school"></i>
                                </span>
                                <span class="hide-menu">Academy</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/digital" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cpu"></i>
                                </span>
                                <span class="hide-menu">Digital</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Comptabilité</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/comptabilite-matiere" aria-expanded="false">
                                <span>
                                    <i class="ti ti-device-desktop"></i>
                                </span>
                                <span class="hide-menu">Comptabilité des Matières</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/comptabilite-financiere" aria-expanded="false">
                                <span>
                                    <i class="ti ti-coin"></i>
                                </span>
                                <span class="hide-menu">Comptabilité Financière</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Ressources</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/projets" aria-expanded="false">
                                <span>
                                    <i class="ti ti-presentation"></i>
                                </span>
                                <span class="hide-menu">Projets</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/evenementiels" aria-expanded="false">
                                <span>
                                    <i class="ti ti-presentation-analytics"></i>
                                </span>
                                <span class="hide-menu">Evenementiels</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/personnels" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Personnels</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{url_for('static', filename='images/profile/user-1.jpg')}}" alt=""
                                        width="35" height="35" class="rounded-circle">
                                    <p class="ms-2 mt-2">{{session['username']}}</p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Se
                                            déconnecter</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title fw-semibold mb-4">Projets</h5>
                            <a href="/export-projets" class="btn btn-success">Exporter en excel</a>
                            <a href="#" class="btn btn-primary text-end" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Ajouter un projet</a>
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="table-responsive">
                            <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                    <tr>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">#</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Nom</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Description</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Date Début</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Date Fin</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Budget</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Département</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Statut</h6>
                                        </th>
                                        <th class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">Actions</h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for projet in projets %}
                                    <tr>
                                        <td class="border-bottom-0">
                                            <h6 class="fw-semibold mb-0">{{projet.0}}</h6>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.1}}</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.2}}</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.3}}</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.4}}</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.5}} FCFA</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            <div class="d-flex align-items-center gap-2">
                                                <h6 class="fw-semibold mb-1">{{projet.7}}</h6>
                                            </div>
                                        </td>
                                        <td class="border-bottom-0">
                                            {% if projet.6 == "en attente" %}
                                            <p class="badge bg-warning text-dark fw-semibold">{{ projet.6 }}</p>
                                            {% elif projet.6 == "en cours" %}
                                            <p class="badge bg-primary fw-semibold">{{ projet.6 }}</p>
                                            {% elif projet.6 == "terminé" %}
                                            <p class="badge bg-success fw-semibold">{{ projet.6 }}</p>
                                            {% elif projet.6 == "annulé" %}
                                            <p class="badge bg-danger fw-semibold">{{ projet.6 }}</p>
                                            {% else %}
                                            <p class="badge bg-secondary fw-semibold">{{ projet.6 }}</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="/projets/update/{{projet.0}}" class="btn btn-primary m-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modaledit{{projet.0}}">Modifier</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="py-6 px-6 text-center">
                    <p class="mb-0 fs-4">Design and Developed by <a
                            href="https://www.linkedin.com/in/mouhamadou-lamine-diop-30891423a/" target="_blank"
                            class="pe-1 text-primary text-decoration-underline">MLD</a> Sano Logistic Company</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Add materiel Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un projet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('insert_projet')}}" method="post">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom du projet</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description du projet</label>
                            <textarea name="description" class="form-control" id="description"></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="date_debut" class="form-label">Date début</label>
                                <input type="date" class="form-control" id="date_debut" name="date_debut" required>
                            </div>
                            <div class="col-md-6">
                                <label for="date_fin" class="form-label">Date fin</label>
                                <input type="date" class="form-control" id="date_fin" name="date_fin" >
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="departement" class="form-label">Département</label>
                            <select class="form-select" name="departement" id="departement">
                                <option value="Trading">Trading</option>
                                <option value="Academy">Academy</option>
                                <option value="Digital">Digital</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="budget" class="form-label">Budget</label>
                                <input type="number" class="form-control" id="budget" name="budget" required>
                            </div>
                            <div class="col-md-6">
                                <label for="statut" class="form-label">Statut</label>
                                <select class="form-select" name="statut" id="statut">
                                    <option value="en attente">En attente</option>
                                    <option value="en cours">En cours</option>
                                    <option value="terminé">Terminé</option>
                                    <option value="annulé">Annulé</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit materiel Modal -->
    {% for projet in projets %}
    <div class="modal fade" id="modaledit{{projet.0}}" tabindex="-1" role="dialog" aria-labelledby="modaleditLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier un projet</h5>
                    <button type="button" class="btn-close ml-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('update_projet')}}" method="post">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom du projet</label>
                            <input type="hidden" name="id" value="{{projet.0}}">
                            <input type="text" class="form-control" id="nom" name="nom" value="{{projet.1}}">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description du projet</label>
                            <input type="text" class="form-control" id="description" name="description"
                                value="{{projet.2}}">
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="date_debut" class="form-label">Date début</label>
                                <input type="date" class="form-control" id="date_debut" name="date_debut"
                                    value="{{projet.3}}">
                            </div>
                            <div class="col-md-6">
                                <label for="date_fin" class="form-label">Date fin</label>
                                <input type="date" class="form-control" id="date_fin" name="date_fin"
                                    value="{{projet.4}}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="departement" class="form-label">Département</label>
                            <select class="form-select" name="departement" id="departement">
                                <option value="Trading" {%if projet.7=='Trading' %} selected {%endif%}>Trading
                                </option>
                                <option value="Academy" {%if projet.7=='Academy' %} selected {%endif%}>Academy
                                </option>
                                <option value="Digital" {%if projet.7=='Digital' %} selected {%endif%}>Digital
                                </option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="budget" class="form-label">Budget</label>
                                <input type="number" class="form-control" id="budget" name="budget"
                                    value="{{projet.5}}">
                            </div>
                            <div class="col-md-6">
                                <label for="statut" class="form-label">Statut</label>
                                <select class="form-select" name="statut" id="statut">
                                    <option value="en attente" {%if projet.6=="en attente" %} selected {%endif%}>En
                                        attente</option>
                                    <option value="en cours" {%if projet.6=="en cours" %} selected {%endif%}>En cours
                                    </option>
                                    <option value="terminé" {%if projet.6=="terminé" %} selected {%endif%}>Terminé
                                    </option>
                                    <option value="annulé" {%if projet.6=="annulé" %} selected {%endif%}>Annulé</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script src="{{url_for('static', filename='libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/sidebarmenu.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='libs/simplebar/dist/simplebar.js')}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</body>

</html>